# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.log

# Виртуальное окружение
venv/
.env/

# PyInstaller build
dist/
build/
*.spec

# IDE/Editor
.vscode/
.idea/

# Игнорировать HTML и TeX
*.html linguist-detectable=false
*.tex linguist-detectable=false

# Игнорировать скомпилированные папки
dist/* linguist-vendored
build/* linguist-vendored