# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.log

# Виртуальное окружение
venv/
.env/

# PyInstaller build
dist/
build/
*.spec

# IDE/Editor
.vscode/
.idea/

# Игнорировать файлы PyInstaller (.toc)
*.toc